{% extends 'AppBundle:Backend:index.html.twig' %}
{% block titulo %}Datos de la empresa{% endblock %}
{% block cuerpo %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Datos de la empresa
            </h1>
        </div>
    </div>
    <form action="" method="post" {{ form_enctype(formulario) }}>

        <div class="form-group">
            {{ form_label (formulario.nombre,'Name') }}
            {{ form_widget(formulario.nombre, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(formulario.nombre) }}
        </div>

        <div class="form-group">
            {{ form_label (formulario.email,'Email') }}
            {{ form_widget(formulario.email, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(formulario.email) }}
        </div>
        <div class="form-group">
            {{ form_label (formulario.asunto,'Subjet') }}
            {{ form_widget(formulario.asunto, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(formulario.asunto) }}
        </div>
        <div class="form-group">
            {{ form_label (formulario.cuerpo,'Message') }}
            {{ form_widget(formulario.cuerpo, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(formulario.cuerpo) }}
        </div>
        {{ form_widget(formulario.leido, {value : true}) }}

        {{ form_rest(formulario) }}
        <input type="submit" />
    </form>

{% endblock %}